.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.photo {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}
.new {
  position: absolute;
  top: 10%;
  left: 80%;
  background-color: aquamarine;
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
}

.profile {
  position: relative;
  width: 300px;
  text-align: center;
  margin: 1rem 1rem;
  background-color: #ebebebeb;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 16px 11px 23px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 16px 11px 23px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 16px 11px 23px 1px rgba(0,0,0,0.75); 
}